/* Styles for WATS 3010 Basic CSS Assignment */


body {
	font-family: "Arial", Helvetica, sans-serif;
	background-image: url("images/hiking-the-sand-dunes.jpg");
	background-size: cover;
	min-width: 446px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.page-header {
    background-color: rgb(255,255,255); 
	background-color: rgba(255, 255, 255, 0.8);
    margin: 1%;
    padding: 1em;
    border-radius: 1.75em;
}

.page-header p{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.1em;
	color: rgb(40,21,3);
	text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: rgb(40,21,3);
    text-align: center;
    margin: 0;
}

h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: rgb(40,21,3);
	text-align: center;
	border-top: 2px dotted rgb(71,48,25);
	border-bottom: 2px dotted rgb(71,48,25);
	margin-bottom: 0;
	overflow: hidden;
}

a:link {
	color: green;
}

a:visited {
	color: purple;
}

a:hover {
	color: blue;
}

ul{
    padding-left: 0.5%;
}

li {
	list-style-type: none;
}

section {
	background-color: rgb(255,255,255); 
	background-color: rgba(255, 255, 255, 0.8);
	width: 52%;
	padding: 1% 2%;
	margin: 1% 1% 2% 1%;
	border-radius: 1.75em;
	line-height: 1.6em;
	float: left;
}

section ol {
	font-size: 1.1em;
	padding-left: 0.25%;
}

.stanza {
    margin-bottom: 1.5em;
}

.content-footer {
	float: right;
}

aside {
    background-color: rgb(255,255,255); 
	background-color: rgba(255, 255, 255, 0.8);
	width: 35%;
	padding: 1% 2%;
	margin: 1%;
	border-radius: 1.75em;
	line-height: 1.5em;
	float: right;
}

img {
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	display: block;
}

.social-links li {
	display: inline-block;
	margin-right: 0.75em;
}

.page-footer {
    background-color: rgb(255,255,255); 
	background-color: rgba(255, 255, 255, 0.8); 
	width: 94%;
	border-radius: 1.75em;
	margin: 1%;
	padding: 1% 2%;
	overflow: hidden;
	clear: both;
}

.citation {
    font-size: 0.75em;
}
	
.page-credits {
    text-align: right;
    font-size: 0.75em;
	margin: 0;
}
